<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container">
             <div class="row">
                 <div class="col-xl-3 col-md-5">
                    <app-filters></app-filters>
                 </div>
                 <div class="col-xl-9 col-md-7">
                    <app-options></app-options>
                    <app-products-listings></app-products-listings>
                </div>
             </div>
            </div>
        </div>
    </div>
</div>