<div class="container p-3">
    <p class="standard-title">About Our Company</p>
    <hr>
    <div class="row">
        <div class="col-lg-5 col-md-12 pb-3">
            <img src="assets/images/people-2557396_1920.jpg" class="img-responsive" alt="" width="100%">
        </div>
        <div class="col-lg-7 col-md-12">
            <h4>Why Us and What we do?</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s,
                unchanged. It was popularised in the Ipsum passages, and more 
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
                Letraset sheets containing Lorem Ipsum Letraset sheets containing Lorem Ipsum passages, and more 
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
</div>

<div class="full-banner parallax-banner1 parallax text-center p-left" style="background-image: url('assets/images/woman-2564660_1920.jpg')">
</div>