<div class="row">

    <!--Grid column-->
    <div class="mb-1 col-lg-4 col-md-4 col-sm-6">

      <img src="assets/images/jon-ly-Xn7GvimQrk8-unsplash.jpg" class="img-fluid mb-2" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="mr-1 col-lg-4 col-md-4 col-sm-6">

        <img src="assets/images/charles-deluvio-krsBQymp76k-unsp.jpg" class="img-fluid mb" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="assets/images/woman-3040029_1920.jpg" class="img-fluid mb-2" alt="">
        <img src="assets/images/jacek-dylag-jo8C9bt3uo8-unsplash.jpg" class="img-fluid mt-1" alt="">
    </div>
    <!--Grid column-->

  </div>