<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 pb-4">
            <div class="row">
                <div class="col-4">
                    <div class="float-end">
                        <i class="pull-left fa fa-truck fa-10x" aria-hidden="true"></i>
                    </div>

                </div>
                <div class="col-8">
                    <span>FREE SHIPPING<br>
                        Free Shipping World Wide</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-4 ">
            <div class="row">
                <div class="col-4">
                    <div class="float-end">
                        <i class="pull-left fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-8">
                    <span>
                        24 X 7 SERVICE<br>
                        Online Service Any Time
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-4">
            <div class="row">
                <div class="col-4">
                    <div class="float-end">
                        <i class="pull-left  fa fa-certificate" aria-hidden="false"></i>
                    </div>
                </div>
                <div class="col-8">
                    <span>
                        1 YEAR GUARANTY<br>
                        Awarded For The Best Guarantee Of Year
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>