<div class="row">
    <div *ngFor="let product of [1,2,3,4,5,6]; let i = index" class="col-lg-4 col-sm-6 product-card">
        <div class="product-image">
            <span *ngIf="i%2!=0" class="sale-sign">20% OFF</span>
        </div>
        <div class="row product-desc">
            <div class="col-12">
                <div class="float-start">
                    <div class="product-name">Piqué Biker Jacket</div>
                    <div class="product-stars">
                        <i *ngFor="let star of [1,2,3,4,5]" class="fa fa-star"></i>
                    </div>
                    <div *ngIf="i%2==0" class="current-product-price">$15.00</div>
                    <div *ngIf="i%2!=0" class="sale">
                        <span class="sale-price current-product-price">$10.00 </span>
                        <span class="normal-price">$15.00</span>
                    </div>
                </div>
                <div class="float-end">
                  <div class="colors">
                      <div [style.background-color]="'#5E64D1'" class="color"></div>
                      <div [style.background-color]="'#404A47'" class="color"></div>
                      <div [style.background-color]="'#D5A667'" class="color"></div>
                  </div>
                  <div class="buttons">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row center">
    <div class="col-12 text-center">
        <button class="btn load-more">LOAD MORE <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
    </div>
 
</div>