
<div class="row mt-4">
    <div *ngFor="let product of products; let i = index" class="col-xl-4 col-lg-6 col-sm-6 product-card">
        <div [style.background-image]="'url(assets/images/product.jpg)'" [routerLink]="['/product', product.id]" class="product-image">
            <span *ngIf="product.salePrice != undefined" class="sale-sign">
                {{(product.salePrice/product.price)*100 | number: '1.0-0'}}% OFF
            </span>
        </div>
        <div class="row product-desc">
            <div class="col-12">
                <div class="float-start">
                    <div class="product-name">{{product.name}}</div>
                    <div *ngIf="product.salePrice == undefined" class="current-product-price">${{product.price | number: '1.2-2'}}</div>
                    <div *ngIf="product.salePrice != undefined" class="sale">
                        <span class="sale-price current-product-price">${{product.salePrice | number: '1.2-2'}} </span>
                        <span class="normal-price">${{product.price | number: '1.2-2'}}</span>
                    </div>
                    <div *ngIf="product?.reviews?.length != 0" class="product-stars">
                        <i *ngFor="let star of counter(product.reviews)" class="fa fa-star"></i> {{product?.reviews?.length}}
                    </div>
                    <div *ngIf="product?.reviews?.length == 0" class="product-stars">
                        <i style="color:initial" *ngFor="let star of [1,2,3,4,5]" class="fa fa-star-o"></i> {{product?.reviews?.length}}
                    </div>
                </div>
                <div class="float-end">
                  <div class="colors">
                      <div *ngFor="let color of product.colors" [style.background-color]="color" class="color"></div>

                  </div>
                  <div class="buttons">
                    <i (click)="openQuickView(product.id)" class="fa fa-eye" aria-hidden="true"></i>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <i (click)="addToCart(product)" class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="products.length == 6" class="row center">
    <div class="col-12 text-center">
        <button class="btn load-more">LOAD MORE <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
    </div>
 
</div>
<div *ngIf="products.length == 0 && !getLoaderStatus()" class="row center mt-5">
    <div class="col-12 text-center">
      <h3 class="h3">No Product Was Found</h3>
    </div>
</div>