<div class="row">
    <div  class="pb-2">
        <div class="images-scroll">
            <div class="row">
                <div class="col-12 text-nowrap">
                    <div *ngFor="let image of productImagesData" class="side-image-box">
                        <div [class.border]="image.id == 0" class="side-image">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" image-section-box">
        <div class="product-image"></div>
    </div>
</div>