.image-section-box{
    height: 548px;
}

.product-image{
    background: url(/assets/images/product.jpg) top no-repeat;
    height: 529px !important;
    cursor:default!important;
    opacity: 1!important;
    background-size:cover;
}

.side-image-box{
    height: 93px;
    
    display: inline-block;
    margin-bottom: 4px;
}

.side-image{
    background: url(/assets/images/product.jpg) top no-repeat;
    height: 93px;
    width: 93px;
    cursor: pointer;
    background-size:cover;
    transition: opacity 0.3s;
    object-fit: contain;
    margin-right:16px;
}

.side-image:hover{
    opacity: 0.8;
}

.border{
    border: 2px solid black!important;
}

.images-scroll{
    margin: 0 auto;
    margin-bottom: 4px;
    overflow-x: scroll;
    /* max-height: 548px; */
}
::-webkit-scrollbar {
    height: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #8b8b8b; 
    border-radius: 7px;
  }
