.image-section-box{
    height: 548px;
}

.product-image{
    background: url(/assets/images/product.jpg) top no-repeat;
    height: 100%!important;
    cursor:default!important;
    opacity: 1!important;
    background-size:cover;
}

.side-image-box{
    height: 93px;
    margin-bottom: 16px;
}

.side-image{
    background: url(/assets/images/product.jpg) top no-repeat;
    height: 93px;
    width: 93px;
    cursor: pointer;
    background-size:cover;
    transition: opacity 0.3s;
    object-fit: contain;
}

.side-image:hover{
    opacity: 0.8;
}

.border{
    border: 2px solid black!important;
}

.images-scroll{
    max-height: 548px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: red; 
  }

  @media only screen and (max-width: 768px) {
    .side-image-box{
        display: inline-block;
    }
    .side-image{
        margin-right:16px;
    }
    .images-scroll{
        margin: 0 auto;
        margin-bottom: 10px;
        overflow-x: scroll;
    }
    ::-webkit-scrollbar {
        height: 4px;
      }
  }