<div class="container pt-5">
    <p class="standard-title">Your Order History</p>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                    aria-describedby="Search">
                <div class="input-group-append">
                    <button class="default-button" type="button">Search Order</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order Date</th>
                    <th scope="col">Order Number</th>
                    <th scope="col">Item Info</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Nov 8,2020</th>
                    <td>123-123124-543523</td>
                    <td>Otto</td>
                    <td>$ 15.99</td>
                </tr>
                <tr>
                    <th scope="row">Dec 14,2021</th>
                    <td>123-98235-543523</td>
                    <td>Thornton</td>
                    <td>$ 140.99</td>
                </tr>
                <tr>
                    <th scope="row">Nov 7,2021</th>
                    <td>0234-98235-543523</td>
                    <td>the Bird</td>
                    <td>$ 54.99</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>