::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: red; 
  }
.categories{
    max-height: 200px;
    overflow-y: scroll;
}

.btn{
    display: block;
    color: #9f9f9f;
    font-size: 15px;
    transition: color 0.3s;
}

.btn:hover{
  color: black;
}

.active-category{
  color: black;
}

