<mat-tab-group color="warn" mat-align-tabs="start">
    <mat-tab label="Description">
        <p class="pt-3">
            {{productDescReview.description}}
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
            molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
            quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
            numquam
            nihil?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
            molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
            quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
            numquam
            nihil?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
            molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
            quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
            numquam
            nihil?
        </p>
    </mat-tab>
    <mat-tab label="Reviews ({{productDescReview.reviews?.length}})">
        <form [formGroup]="reviewForm">
            <div class="row pt-3">
                <div class="col-4">
                    <input placeholder="First Name" type="text" class="form-control" id="firstName" name="firstName"
                        formControlName="firstName">
                    <span *ngIf="isFieldValid('firstName')" class="help-block">
                        Please enter a valid first name
                    </span>
                </div>
                <div class="col-4 px-3">
                    <input placeholder="Last Name" type="text" class="form-control" id="lastName" name="lastName"
                        formControlName="lastName">
                    <span *ngIf="isFieldValid('lastName')" class="help-block">
                        Please enter a valid last name
                    </span>
                </div>
                <div class="col-4">
                    <input placeholder="Email" type="email" class="form-control" id="email" name="email"
                        formControlName="email">
                    <span *ngIf="isFieldValid('email')" class="help-block">
                        Please enter a valid last email
                    </span>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12">
                    <textarea placeholder="Your Review" id="review" class="form-control" name="review"
                        formControlName="review" rows="5"></textarea>
                    <span *ngIf="isFieldValid('review')" class="help-block">
                        Please enter a valid last review
                    </span>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12">
                    <span>Review: </span> <i *ngFor="let star of [1,2,3,4,5]" class="fa fa-star-o review-star"
                        aria-hidden="true"></i>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <button class="btn submit-review">Submit</button>
                </div>
            </div>
        </form>
        <ng-template [ngIf]="productDescReview.reviews?.length != 0">
            <hr class="hr my-5">
            <p class="primary-title mb-3">Reviews</p>
            <div class="review-box">
                <div class="row" *ngFor="let review of productDescReview.reviews">
                    <div class="col-2">
                        <p class="mb-0"><strong>{{review.reviewer}}</strong></p>
                        <i *ngFor="let star of counter(review.rating)" class="fa fa-star review-star-color"
                            aria-hidden="true"></i>
                    </div>
                    <div class="col-10">
                        <p>{{review.review}}</p>
                    </div>
                </div>
                <p class="secondary-title load-more-review"><strong>Load More</strong></p>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>