<div class="container pt-5">
    <div class="row">
        <mat-tab-group color="warn" mat-align-tabs="start">
            <mat-tab label="My WishList">
                <app-my-wishlist></app-my-wishlist>
            </mat-tab>
            <mat-tab label="Newsletters">
                <p class="pt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                </p>
            </mat-tab>
            <mat-tab label="Address Book">
                <p class="pt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                </p>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
