<div class="container pt-5">
    <div class="row">
        <mat-tab-group color="warn" mat-align-tabs="start">
            <mat-tab label="My WishList">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col" style="padding-left:26px" class="hidden-els">Quantity</th>
                            <th scope="col" class="hidden-els">Availability</th>
                            <th scope="col" class="hidden-els">Total</th>
                            <th scope="col" class="text-center show-on-small-screen">Item's Data</th>
                            <th scope="col" class="hidden-els"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="this.myWishlistService.getWishlistItemsCount() == 0">
                            <td colspan="6">
                                <h3 class="h3 text-center py-5 text-muted">
                                    Your WishList Is Empty <i class="fa fa-heart-o" aria-hidden="false"></i>
                                </h3>
                            </td>
                        </tr>
                        <tr *ngFor="let wishList of this.myWishlistService.WishlistItems">
                            <td style="width: 100px;">
                                <img src="assets/images/product.jpg" class="product-image" alt="{{wishList.imgAlt}}">
                            </td>
                            <td>
                                <div class="cart-product-desc">
                                    <p>{{wishList.product.name}}</p>
                                    <b>${{wishList.product.salePrice > 0 ? wishList.product.salePrice :
                                        wishList.product.price | number : '1.2-2'}}</b>
                                    <p>Color: <span [style.background-color]="wishList.color" class="color"></span></p>
                                    <p>Size:<strong>{{wishList.size}}</strong></p>
                                </div>
                            </td>
                            <td class="hidden-els">
                                <div class="btn-group" role="group">
                                    <button class="btn" type="button" (click)="reduceAmount(wishList)">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    </button>
                                    <button disabled class="btn">
                                        <strong>{{wishList.quantity}}</strong>
                                    </button>
                                    <button class="btn" type="button" (click)="increaseAmount(wishList)">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="hidden-els">
                                <span>{{wishList.availability ? 'In Stock' : 'Out Of Stock'}}</span>
                            </td>
                            <td class="hidden-els">
                                <strong>${{wishList.product.salePrice > 0 ? wishList.product.salePrice*wishList.quantity :
                                    wishList.product.price*wishList.quantity | number : '1.2-2'}}</strong>
                            </td>
                            <td class="text-center show-on-small-screen">
                                <div class="btn-group" role="group">
                                    <button class="btn" type="button" (click)="reduceAmount(wishList)">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    </button>
                                    <button disabled class="btn">
                                        <strong>{{wishList.quantity}}</strong>
                                    </button>
                                    <button class="btn" type="button" (click)="increaseAmount(wishList)">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div>
                                    <span>{{wishList.availability ? 'In Stock' : 'Out Of Stock'}}</span>
                                </div>
                                <div>{{wishList.itemPrice * itemAmount | number : '1.2-2'}}</div>
                                <span>${{wishList.product.salePrice > 0 ? wishList.product.salePrice*wishList.quantity :
                                    wishList.product.price*wishList.quantity | number : '1.2-2'}}<button class="btn cart-delete" (click)="deleteWishlistItem(wishList)"><i
                                            class="fa fa-close"></i></button></span>
                            </td>
                            <td class="hidden-els">
                                <button class="btn cart-delete float-end" (click)="deleteWishlistItem(wishList)"><i
                                        class="fa fa-close"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <strong style="float: left;padding-top: 7px;">Total Price: ${{this.myWishlistService.getWishlistItemsTotalPrice()}}</strong>
                <button [routerLink]="'/checkout'" type="button" style="float: right;" class="default-button">Check Out</button>
            </mat-tab>
            <mat-tab label="Newsletters">
                <p class="pt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                </p>
            </mat-tab>
            <mat-tab label="Address Book">
                <p class="pt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, est quo! Repudiandae ab, qui vero nihil
                    molestias dignissimos dolorem ex excepturi culpa modi illum doloribus iure optio. Sunt, eaque enim?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, cumque dolor! Repudiandae facilis eveniet a
                    quibusdam placeat fugiat, eligendi saepe explicabo et, quidem officiis quis adipisci vel accusantium,
                    numquam
                    nihil?
                </p>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
