.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    opacity: 1 !important;
    font-weight: 400;
    font-size: 20px;
  }

.mat-ink-bar {
    background-color: rgb(255, 0, 0);
}

