<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <app-images-section></app-images-section>
        </div>
        <div class="col-lg-6">
            <app-buying-details-section></app-buying-details-section>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-description-review-section></app-description-review-section>
        </div>
    </div>
</div>
<app-products-carousel [title]="'Similar Products'"></app-products-carousel>