<table class="table">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col"></th>
            <th scope="col" style="padding-left:26px" class="hidden-els">Quantity</th>
            <th scope="col" class="hidden-els">Total</th>
            <th scope="col" class="text-center show-on-small-screen">Item's Data</th>
            <th scope="col" class="hidden-els"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="this.shoppingCartService.getShoppingCartItemsCount() == 0">
            <td colspan="4">
                <h3 class="h3 text-center py-5">
                    Your Cart Is Empty
                </h3>
            </td>
        </tr>
        <tr *ngFor="let shoppingData of this.shoppingCartService.shoppingCartItems">
            <td style="width: 100px;">
                <img src="assets/images/product.jpg" class="product-image" alt="product">
            </td>
            <td>
                <div class="cart-product-desc">
                    <p>{{shoppingData.product.name}}</p>
                    <b>${{shoppingData.product.salePrice > 0 ? shoppingData.product.salePrice :
                        shoppingData.product.price | number : '1.2-2'}}</b>
                    <p>Color: <span [style.background-color]="shoppingData.color" class="color"></span></p>
                    <p>Size:<strong>{{shoppingData.size}}</strong></p>
                </div>
            </td>
            <td class="hidden-els">
                <div class="btn-group" role="group">
                    <button class="btn" type="button" (click)="reduceAmount(shoppingData)">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                    <button disabled class="btn">
                        <strong>{{shoppingData.quantity}}</strong>
                    </button>
                    <button class="btn" type="button" (click)="increaseAmount(shoppingData)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
            <td class="hidden-els">
                <strong>${{shoppingData.product.salePrice > 0 ? shoppingData.product.salePrice*shoppingData.quantity :
                    shoppingData.product.price*shoppingData.quantity | number : '1.2-2'}}</strong>
            </td>
            <td class="text-center show-on-small-screen">
                <div class="btn-group" role="group">
                    <button class="btn" type="button" (click)="reduceAmount(shoppingData)">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                    <button disabled class="btn">
                        <strong>{{shoppingData.quantity}}</strong>
                    </button>
                    <button class="btn" type="button" (click)="increaseAmount(shoppingData)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
                <div>${{shoppingData.product.salePrice > 0 ? shoppingData.product.salePrice*shoppingData.quantity :
                    shoppingData.product.price*shoppingData.quantity | number : '1.2-2'}}</div>
                <span><button (click)="deleteCartItem(shoppingData)" class="btn cart-delete"><i class="fa fa-close"></i></button></span>
            </td>
            <td class="hidden-els">
                <button (click)="deleteCartItem(shoppingData)" class="btn cart-delete float-end"><i class="fa fa-close"></i></button>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <div class="float-start">
                    <div>
                        <strong>DISCOUNT: -0%</strong>
                    </div>
                    <div>
                        <strong>TOTAL: ${{this.shoppingCartService.getShoppingCartItemsTotalPrice()}}</strong>
                    </div>
                </div>
                <!-- <div class="float-end">
                    <button type="button" style="margin-top:4px" class="default-button">Check Out</button>
                </div> -->
            </td>
        </tr>
    </tbody>
</table>