<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">PRODUCT</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">TOTAL</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of [1,2,3]">
                <td >
                    <div class="row align-items-center">
                        <div class="col-xxl-3 col-lg-3 col-md-4">
                            <div class="product-image"></div>
                        </div>
                        <div class="col-xxl-9 col-lg-9 col-md-8 cart-product-desc">
                            <p>Piqué Biker Jacket</p>
                            <strong>$15.00</strong>
                            <p>Color: <span style="vertical-align: middle;margin-left: 0;" 
                                [style.background-color]="'#5E64D1'" class="color"></span></p>
                            <p>Size:<strong> M</strong></p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn" type="button">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </button>
                        <button disabled class="btn">
                            <strong>1</strong>
                        </button>
                        <button class="btn" type="button">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                      </div>
                </td>
                <td>
                    <strong>$15.00</strong>
                </td>
                <td>
                    <button class="btn cart-delete">X</button>
                </td>
            </tr>
            <tr >
                <td colspan="4"> 
                  <div class="float-end">
                    <div>
                        <strong>DISCOUNT: -15%</strong>
                    </div>
                    <div>
                        <strong>TOTAL: $12.75</strong>
                    </div>
                </div>
                       
               
                </td>
            </tr>
        </tbody>
    </table>
</div>