<div class="container p-5">
    <div class="row">
        <div class="text-center col-12">
            <div class="center-title">
                <p>Our Purpose</p>
                <div class="underline"></div>
            </div>
            <h5>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in somenecessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
                 combined with a handful of model sentence structures, to generate Lorem Ipsum which looksbut the majority have suffered alteration
                 in somenecessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. reasonable.
                The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</h5>
            <div class="social-icons pt-5">
                <a href="" class="me-2 text-reset" style="padding:15px 20px">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="" class="me-2 text-reset">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="" class="me-2 text-reset">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="" class="me-2 text-reset mt-5">
                    <i class="fa fa-behance" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>