<div class="container">
    <div class="row pb-4">
        <div class="col-8">
            <div class="standard-title">
                <p>Hello,John!</p>
                <h6>You are logged in as John@gmail.com</h6>
            </div>
        </div>
        <div class="col-4 pt-4">
            <button type="text" class="default-button">Log Out</button>
        </div>
    </div>
    <div class="row dashboard p-2 m-1">
        <div class="col-12 mt-2">
            <h4>DASHBOARD</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make
                a type specimen book. It has survived not only five centuries,and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.1500s,
                 when an unknown printer took a galley of type and scrambled it
                to make
                a type specimen book. It has survived not only five centuries,and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12 col-lg-3 mb-3">
                <h5>Account Information</h5>
                <p>Name: John Doe
                    <br>E-mail: JohnDoe@gmail.com<br>
                    Password: ********
                </p>
                <a href="#" class="edit">Edit Contact Info</a>
            </div>
            <div class="col-sm-12 col-lg-9">
                <h5>Shipping Address</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
                    been the industry's standard 
                    dummy text ever since the 1500s, when an unknown printer took.dummy text of the printing and typesetting industry.
                     Lorem Ipsum has it end</p>
                <a href="#" class="edit">Edit Contact Info</a>
            </div>
        </div>
    </div>
</div>