<div class="row">
    <div class="col-sm-6 col-12">
        <p class="primary-title">{{product?.name}}</p>
    </div>
    <div class="col-6 payment-methods text-end d-none d-sm-block">
        <i class="fa fa-cc-stripe" aria-hidden="true"></i>
        <i class="fa fa-cc-paypal" aria-hidden="true"></i>
        <i class="fa fa-cc-visa" aria-hidden="true"></i>
        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
        <i class="fa fa-cc-discover" aria-hidden="true"></i>
    </div>
</div>
<hr class="hr">
<div class="row">
    <div class="col-6">
        <p class="primary-title">${{product?.price | number: '1.2-2'}}</p>
    </div>
    <div class="col-6 align-middle">
        <div class="float-end product-stars">
            <i *ngFor="let star of product?.reviews" class="fa fa-star"></i>
            <span style="color: #9f9f9f;" class="secondary-title"> ({{product?.reviews?.length}} Reviews)</span>
        </div>
    </div>
</div>
<hr class="hr">
<div class="row pb-3 pt-1">
    <div class="col-12">
        <span class="secondary-title"><strong>Size: </strong></span>
        <span [class.product-size-active]="i==1" *ngFor="let size of product?.sizes; let i=index;"
            class="product-size-box">{{size}}</span>
    </div>
</div>
<div class="row pb-4">
    <div class="col-7">
        <div class="row">
            <div class="col-12 text-nowrap my-auto">
                <span class="secondary-title"><strong>Color:</strong></span>
                <span *ngFor="let color of product?.colors" class="color py-auto"
                    [style.background-color]="color"></span>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn ps-0">
            <i class="fa fa-heart-o" aria-hidden="true"></i> ADD TO WISHLIST
        </button>
    </div>
</div>
<div class="row pb-1">
    <div class="col-12">
        <div style="max-width: 450px;" class="input-group">
            <input type="number" class="form-control form-control-lg d-inline me-2 mt-2">
            <button class="btn add-to-cart d-inline me-2 btn-lg mt-2">ADD TO CART</button>
            <button class="btn buy-now d-inline btn-lg mt-2">BUY NOW</button>
        </div>

    </div>
</div>
<hr class="hr">
<div class="row mb-2">
    <div class="col-12">
        <div class="secondary-background">
            <div class="py-3 px-3">
                <p><strong>Shipping methods</strong></p>
                <p><i class="fa fa-truck" aria-hidden="true"></i> Free Shipping - 7-14 Days Lorem ipsum dolor sit, amet<br>
                    <i class="fa fa-clock-o" aria-hidden="true"></i> online service 24/7 - Lorem ipsum dolor sit, amet
                    consectetur adipisicing elit. Ea veritatis quae atque dignissimos fugit.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row d-block d-sm-none">
    <div class="col-12 payment-methods">
        <i class="fa fa-cc-stripe" aria-hidden="true"></i>
        <i class="fa fa-cc-paypal" aria-hidden="true"></i>
        <i class="fa fa-cc-visa" aria-hidden="true"></i>
        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
        <i class="fa fa-cc-discover" aria-hidden="true"></i>
    </div>
</div>