p{
    margin-bottom: 0px;
}

.product-size-box{
    text-align: center;
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.product-size-box:hover{
    background-color: black;
    color: white;
}

.product-size-active{
    background-color: black;
    color: white;
}

.color{
    vertical-align: middle;
    height: 37px!important;
    width: 37px!important;
    background-color: black;
    border: 2px solid #c9c9c9;
    cursor: pointer;
    transition: opacity 0.3s;
}

.color:hover{
    opacity: 0.8;
}

.selected-color{
    opacity: 0.8!important;
}

.add-to-cart{
    font-size: 13;
    background-color: black;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    transition: opacity 0.3s;
}

.add-to-cart:hover{
    opacity: 0.9;
}

.buy-now{
    color: white;
    background-color: #B00000;
    padding-left: 30px;
    padding-right: 30px;
    transition: opacity 0.3s;
}

.buy-now:hover{
    opacity: 0.9;
}

.payment-methods i{
    font-size: 24px;
    margin-right: 5px;
    margin-top: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width:604px) {
    .buy-now,.form-control,.add-to-cart {
        width:100% !important;
        border-radius: .3rem !important;
        margin-right: 0px !important;
    }
    .input-group{
        max-width: 100% !important;
    }
}

.buy-now,.form-control,.add-to-cart {
    font-size:16px !important;
}