<div class="container">
    <div class="row">
        <div class="col-12">
            <div *ngIf="!centerTitle">
                <p class="standard-title">{{title}}</p>
                <hr class="hr">
            </div>
            <div *ngIf="centerTitle" class="center-title text-center" >
                <p>{{title}}</p>
                <div [style.width]="width" class="underline"></div>
            </div>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let product of data; let i = index" class="product-card">
                    <div [routerLink]="['/product', product.id]" class="product-image">
                        <span style="left: 0;" *ngIf="product.salePrice != undefined" class="sale-sign">
                            {{(product.salePrice/product.price)*100 | number: '1.0-0'}}% OFF
                        </span>
                    </div>
                    <div class="row product-desc">
                        <div class="col-12">
                            <div class="float-start">
                                <div class="product-name">{{product.name}}</div>
                                <div *ngIf="product?.salePrice==0" class="current-product-price">${{product.price | number: '1.2-2'}}</div>
                                <div *ngIf="product?.salePrice!=0" class="sale">
                                    <span class="sale-price current-product-price">${{product?.salePrice | number: '1.2-2'}} </span>
                                    <span class="normal-price">${{product.price | number: '1.2-2'}}</span>
                                </div>
                                <div *ngIf="product?.reviews?.length != 0" class="product-stars">
                                    <i *ngFor="let star of counter(product.reviews)" class="fa fa-star"></i> {{product?.reviews?.length}}
                                </div>
                                <div *ngIf="product?.reviews?.length == 0" class="product-stars">
                                    <i style="color:initial" *ngFor="let star of [1,2,3,4,5]" class="fa fa-star-o"></i> {{product?.reviews?.length}}
                                </div>
                            </div>
                            <div class="float-end">
                              <div class="colors">
                                  <div *ngFor="let color of product.colors" [style.background-color]="color" class="color"></div>
                          
                              </div>
                              <div class="buttons" style="right: 0;">
                                <i (click)="openQuickView(product.id)" class="fa fa-eye" aria-hidden="true"></i>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
              </owl-carousel-o>
            
        </div>
    </div>
</div>