<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-title">
          CATEGORIES
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-categories></app-categories>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-title">
          FILTERS
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-colors></app-colors>
      <app-size></app-size>
      <app-reviews></app-reviews>
      <app-price></app-price>
    </mat-expansion-panel>
  </mat-accordion>