<div class="topnav">
    <span class="welcome-alert">Welcome to ShoppingS</span>
    <span class="company-phone"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:12345 67 89">support: (+000)
        12345 67 89</a></span>
    <div class="topnav-right d-flex justify-content-end">
      <button (click)="openLoginRegister()" type="button" class="user-button"><i class="fa fa-user"></i>My
        Account</button>
      <div class="dropdown">
        <button class="dropbtn" style="border-left: 2px solid rgb(218, 218, 218);">ENG <i class="arrow down"></i></button>
        <div class="dropdown-content">
          <a href="#">ENG</a>
          <a href="#">SPN</a>
          <a href="#">RUS</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">USD <i class="arrow down"></i></button>
        <div class="dropdown-content">
          <a href="#">USD</a>
          <a href="#">EUR</a>
          <a href="#">RUB</a>
        </div>
      </div>
    </div>
  </div>