/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body{
    font-family: 'ABeeZee', sans-serif!important;
    width:100% !important;
    overflow-x: hidden !important;
}


.product-card{
    position: relative;
    margin-bottom: 30px;
}
.product-image{
    width: 100%;
    height: 260px;
    background: url(/assets/images/handbag.jpg) center no-repeat ;
    background-size:cover;
    cursor: pointer;
    transition: opacity 0.3s;
}
.sale-sign{
    position:absolute;
    padding: 4px 15px 2px;
    left: 12px;
    top: 20px;
    font-size: 11px;
    color: #fff;
    background: #111;
}
.product-image:hover{
    opacity: 0.8;
}
.product-desc{
    margin-top: 12px;
}
.product-name{
    font-size: 15px;
}
.product-stars i{
    color: #ffc510;
    size: 14px;
}
.current-product-price{
    font-size: 18px;
    font-weight:bold;
}
.sale .sale-price{
    color: red!important;
}
.sale .normal-price{
    font-size: 14px;
    text-decoration: line-through;
    color: #9f9f9f;
}
.buttons{
    position: absolute;
    bottom: 0;
    right: 15px;
}
.buttons i{
    margin-left: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.buttons i:hover{
    opacity:0.8;
}
/*product-card end*/

.form-control,.form-check-input,.form-select,.btn:focus{
    box-shadow: none!important;
}
.filter-title{
    font-size: 15px;
    font-weight: bold;
}

.filter{
    margin-bottom: 16px;
}

.mat-expansion-panel-content,.mat-expansion-panel-header,.mat-tab-group,.mat-tab-label {
    font:inherit!important
}

.form-check-input:checked{
    background-color:red!important;
    border-color: red!important;
}

.color{
    height: 14px;
    width: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 4px;
}

.color:first-child{
    margin-left: 0px!important;
}

.underline {
    margin: 0 auto;
    width: 200px;
    border-top: 4px solid red;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 5px;
}

.standard-title{
    border-left: 3px solid red;
    padding-left: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
}

.center-title p{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
}

.primary-title{
    font-size: 22px;
    font-weight: bold;
}

.secondary-title{
    font-size: 16px;
}

.secondary-background{
    background-color: #f4f4f4;
}

.default-button {
    background-color: #B00000;
    color: rgb(255, 255, 255);
    transition: 0.4s;
    float: right;
    border:none;
    padding: 7px 14px;
    border-radius: 4px;
}
.default-button:hover {
    background-color: #000000;
}
/* 
.mat-tab-group,.mat-tab-label {
    font-family: inherit !important;
} */

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: inherit;
}

table thead {
    background-color: #f9f9f9;
}

.topnav .company-phone i,.offcanvas-body .company-phone i{
    color: rgb(255, 0, 0);
    padding:4px;
}
.topnav .company-phone a,.offcanvas-body .company-phone a{
    text-decoration: none;
    color:rgb(77, 77, 77);
}


.topnav .arrow,.offcanvas-body .arrow {
    border: solid rgb(77, 77, 77);;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 4px;
    margin-bottom: 2px;
}

.topnav .dropbtn,.offcanvas-body .dropbtn {
    color:rgb(77, 77, 77);;
    border: none;
    cursor: pointer;
    background-color: white;
  }
  
  .topnav  .dropdown,.offcanvas-body .dropdown {
    position: relative;
    display: inline-block;
    margin-top: -22px !important;
  }
  
  .topnav .dropdown-content,.offcanvas-body .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1500 !important;
  }
  
  .topnav  .dropdown-content a,.offcanvas-body .dropdown-content a {
    color: black;
    padding: 5px 9px;
    text-decoration: none;
    display: block;
  }
  
  .topnav  .dropdown-content a:hover,.offcanvas-body .dropdown-content a:hover {background-color: #f1f1f1}
  
  .topnav .dropdown:hover .dropdown-content,.offcanvas-body .dropdown:hover .dropdown-content{
    display: block !important;
  }

  .topnav .user-button:hover,.topnav .user-button i:hover,.topnav .company-phone a:hover,.offcanvas-body .company-phone a:hover
,.topnav .dropbtn:hover,.offcanvas-body .dropbtn:hover
{
    color: #111 !important;;
}

.nav .side-navbar .nav-item a:hover,.navbar .navbar-nav a:hover,.navbar .btn:hover {
    color:rgb(236, 0, 0) !important;
}
.dropdown-menu {
    border:none;
}

.shopping-cart-dropdown-content,.navbar,.dropdown-menu {
    box-shadow: 4px 4px 7px rgba(0,0,0,0.2);
}

.help-block {
    color:#ec0000;
}

input.ng-invalid.ng-touched,textarea.ng-invalid.ng-touched {
    border:1px solid rgb(255, 0, 0);
}

.mat-tab-label {
    /* min-width: 25px !important; */
    /* padding: 5px!important; */
    color: rgb(0, 0, 0)!important;
    opacity: 1 !important;
    font-weight: 400!important;
    font-size: 18px!important;
  }