/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body{
font-family: 'ABeeZee', sans-serif!important;
}

.form-check-input,.form-select,.btn:focus{
    box-shadow: none!important;
}

.filter-title{
    font-size: 15px;
    font-weight: bold;
}

.filter{
    margin-bottom: 16px;
}
.mat-expansion-panel-content,.mat-expansion-panel-header {
    font:inherit!important
}

.form-check-input:checked{
    background-color:red!important;
    border-color: red!important;
}

html, body { height: 100%; }
