/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body{
    font-family: 'ABeeZee', sans-serif!important;
    overflow-x: hidden;
}

/*product-card*/
.product-card{
    position: relative;
    margin-bottom: 30px;
}
.product-image{
    width: 100%;
    height: 260px;
    background: url(/assets/images/product-3.jpg) center no-repeat ;
    background-size:cover;
    cursor: pointer;
    transition: opacity 0.3s;
}
.sale-sign{
    position:absolute;
    padding: 4px 15px 2px;
    left: 12px;
    top: 20px;
    font-size: 11px;
    color: #fff;
    background: #111;
}
.product-image:hover{
    opacity: 0.8;
}
.product-desc{
    margin-top: 12px;
}
.product-name{
    font-size: 15px;
}
.product-stars i{
    color: #ffc510;
    size: 14px;
}
.current-product-price{
    font-size: 18px;
    font-weight:bold;
}
.sale .sale-price{
    color: red!important;
}
.sale .normal-price{
    font-size: 14px;
    text-decoration: line-through;
    color: #9f9f9f;
}
.buttons{
    position: absolute;
    bottom: 0;
    right: 15px;
}
.buttons i{
    margin-left: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.buttons i:hover{
    opacity:0.8;
}
/*product-card end*/

.form-control,.form-check-input,.form-select,.btn:focus{
    box-shadow: none!important;
}
.filter-title{
    font-size: 15px;
    font-weight: bold;
}

.filter{
    margin-bottom: 16px;
}

.mat-expansion-panel-content,.mat-expansion-panel-header {
    font:inherit!important
}

.form-check-input:checked{
    background-color:red!important;
    border-color: red!important;
}

.color{
    height: 14px;
    width: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 4px;
}

.title-with-left-redline {
    border-left: 3px solid red;
    padding-left: 5px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 24px;
}

.underline {
    margin: 0 auto;
    width: 200px;
    border-top: 4px solid red;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: -10px;
}

.title-with-bottom-redline {
    font-weight: bold;
    font-size: 24px;
}
