<app-navbar></app-navbar>
<app-breadcrumb [pageName]="'Contact'"></app-breadcrumb>
<router-outlet></router-outlet>
<!-- <app-home></app-home>
<app-products></app-products>
<app-product></app-product>
<app-contact></app-contact>
<app-about-us></app-about-us>
<app-shopping-cart></app-shopping-cart>
<app-checkout></app-checkout>
<app-account-dashboard></app-account-dashboard> -->
<!--  -->
<!-- 
<app-products-carousel></app-products-carousel> -->


<!-- <app-my-wishlist></app-my-wishlist> -->
<app-footer></app-footer>