<div class="container-fluid mt-4">
    <div class="row text-center">
        <div class="col-12">
            <i class="fa fa-google fs-5" aria-hidden="true"></i>
            <i class="fa fa-facebook fs-5 px-2" aria-hidden="true"></i>
            <i class="fa fa-twitter fs-5" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input placeholder="Email" type="email" class="form-control form-control-lg">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input placeholder="Password" type="text" class="form-control form-control-lg">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <button class="btn default-button text-white fs-5 px-5">Login</button>
        </div>
    </div>
</div>