<div class="options-box p-3 bg-body rounded">
    <div class="row">
        <div class="col-7">
            <select class="form-select form-select-sm sort-by">
                <option selected>Sort By Default</option>
                <option>Sort By Price Asc</option>
                <option>Sort By Price Desc</option>
                <option>Sort By Review Asc</option>
                <option>Sort By Review Desc</option>
              </select>
        </div>
        <div style="text-align: right;" class="col-5">
            <button class="btn btn-sm"><i class="fa fa-th-large" aria-hidden="true"></i></button>
            <button class="btn btn-sm"><i class="fa fa-th-list" aria-hidden="true"></i></button>
        </div>
    </div>
</div>